Tipos Primitivos:

*   int = 9, 25, 1001
*   float = 2.3, 0.4, 0.0023
*   bool = True, False
*   str = "Ola, Mundo"

Operadores Aritméticos:



  *   +: Adição
  *   -: Subtração
  *   *: Multiplicação
  *   /: Divisão
  *   **: Potência
  *   //: Divisão inteira
  *   %: Resto da divisão

Ordem de precedencia:


1.   ()
2.   **
3.   *, /, //, %
4.   +, -,

EX001

In [ ]:
print("Ola, Mundo!")

Ola, Mundo!

EX002

In [ ]:
nome = input("Digite seu nome: ")
print ("É um prazer te conhecer,{}!".format(nome))

Digite seu nome: Matheus
É um prazer te conhecer,Matheus!

EX003

In [ ]:
n1 = int(input ("Escreva um numero: "))
n2 = int(input ("Escreva outro numero: "))
s = n1 + n2
print ("A soma de {} com {} e de {}!)".format(n1, n2, s))

Escreva um numero: 5
Escreva outro numero: 2
A soma de 5 com 2 e de 7!)

EX004

In [ ]:
a = input("Escreva alguma coisa: ")
print(type("a"))

Escreva alguma coisa: 3A
<class 'str'>

EX005

In [ ]:
a = input("digite algo: ")
print("o tipo primitivo desse valor é ", type(a))
print("So tem espaço: ", a.isspace())
print("E um numero: ", a.isnumeric())
print("E alfabetico: ", a.isalpha())
print("E alfanumerico: ", a.isalnum())
print("Esta em MAIUSCULO: ",a.isupper())
print("esta em minusculo: ",a.islower())
print("Esta capitalizada: ",a.istitle())

digite algo: Gustavo
o tipo primitivo desse valor é  <class 'str'>
So tem espaço:  False
E um numero:  False
E alfabetico:  True
E alfanumerico:  True
Esta em MAIUSCULO:  False
esta em minusculo:  False
Esta capitalizada:  True

EX:006

In [ ]:
n1 = int(input("Digite um numero: "))
n2 = int(input("Digite outro numero: "))
a = n1 + n2
s = n1 - n2
m = n1 * n2
d = n1 / n2
di = n1 // n2
p = n1 ** n2
rd = n1 % n2

print("A soma de {} com {} é de {}".format(n1,n2,a))
print("A subtração de {} com {} é de {}".format(n1,n2,s))
print("A multiplicação de {} com {} é de {}".format(n1,n2,m))
print("A divisão de {} com {} é de {:.3f}".format(n1,n2,d))
print("A potência de {} com {} é de {}".format(n1,n2,p))
print("A divisao inteira de {} com {} é de {}".format(n1,n2,di),end= "      \n     ")
print("O resto da divisão de {} com {} é de {}".format(n1,n2,rd))

Digite um numero: 4
Digite outro numero: 3
A soma de 4 com 3 é de 7
A subtração de 4 com 3 é de 1
A multiplicação de 4 com 3 é de 12
A divisão de 4 com 3 é de 1.333
A potência de 4 com 3 é de 64
A divisao inteira de 4 com 3 é de 1
     O resto da divisão de 4 com 3 é de 1

EX:007

In [ ]:
n = int(input("Escreva um numero: "))
print("Seu antecessor e {} e seu sucessor e de {}" .format(n-1,n+1))

Escreva um numero: 5
Seu antecessor e 4 e seu sucessor e de 6

EX008

In [ ]:
n1 = int(input("Escolha um numero: "))
s1 = n1 * 2
s2 = n1 * 3
s3 = n1 ** (1/2)

print("O dobro de {} é de {}. O triplo de {} e de {}. A raiz quadrada de {} e de {}".format(n1,s1,n1,s2,n1,s3))

Escolha um numero: 25
O dobro de 25 é de 50. O triplo de 25 e de 75. A raiz quadrada de 25 e de 5.0

EX:009

In [ ]:
n1 = int(input("Digite um valor: "))
n2 = int(input("Digite outro valor: "))
m = (n1 + n2) /2
print("A media do aluno e de: ", m)

Digite um valor: 7
Digite outro valor: 5
A media do aluno e de:  6.0

EX:010

In [ ]:
medida = float(input("Digite uma medida em metros: "))
cm = medida * 100
mm = medida * 1000
print("A medida {}m equivale a {}cm e a {}mm".format(medida,cm,mm))

Digite uma medida em metros: 2.5
A medida 2.5m equivale a 250.0cm e a 2500.0mm

EX:011

In [ ]:
n = int(input("digite um valor: "))
print(n * 1)
print(n * 2)
print(n * 3)
print(n * 4)
print(n * 5)
print(n * 6)
print(n * 7)
print(n * 8)
print(n * 9)
print(n * 10)

digite um valor: 5
5
10
15
20
25
30
35
40
45

EX:012

In [ ]:
R = int(input("Quantos reais voce tem? "))
D = R / 5
print("Voce tem um total de {} dolares".format(D))

Quantos reais voce tem? 125351
Voce tem um total de 25070.2 dolares

EX:013

In [ ]:
lp = float(input("Qual o tamanho da parede: "))
ap = float(input("Qual a largura da parede: "))
td = lp * ap
tppt = td / 2
print("Sua parede tem dimensão de {} x {} sua area e de {}".format(lp,ap,td))
print("Para pintar essa parede voce precisa de {}l de tinta".format(tppt))

Qual o tamanho da parede: 2.5
Qual a largura da parede: 1.75
Sua parede tem dimensão de 2.5 x 1.75 sua area e de 4.375
Para pintar essa parede voce precisa de 2.1875l de tinta

EX:014

In [ ]:
preço = float(input("Quanto custa esse produto? "))
novo = preço - (preço * 5 / 100)
print("Com o total de 5% esse produto fica no valor de R${}!".format(novo))

Quanto custa esse produto? 100
Com o total de 5% esse produto fica no valor de R$95.0!

EX:015

In [ ]:
preço = float(input("Quanto de salario voce recebe? "))
novo = preço + (preço * 15/100)
print("Seu novo salario e de {}".format(novo))

Quanto de salario voce recebe? 1000
Seu novo salario e de 1150.0

EX:016

In [ ]:
c = float(input("informe a temperatura em C: "))
f = 9 * c/5 + 32
print("A temperatura de {}C corresponde a {}F".format(c,f))

EX:017

In [ ]:
da = int(input("Quantos dias voce ficou com o carro? "))
qr = float(input("Quantos kilometros voce rodou com o carro? "))
pago = (da * 60) + (qr * 0.15)
print("o valor total a ser pago e de R${}".format(pago))

Quantos dias voce ficou com o carro? 1000
Quantos kilometros voce rodou com o carro? 1000
o valor total a ser pago e de R$60150.0

EX:018

In [ ]:
from math import sqrt
n = int(input("Digite um numero: "))
raiz = math.sqrt(n)
print("A raiz de {} e {}".format(n,raiz))

Digite um numero: 81
A raiz de 81 e 9.0

EX:019

In [ ]:
import random
ran = random.randint(1,10)
print(ran)

9

EX:020

In [ ]:
from math import trunc
num = float(input('digite um numero: '))
print('O numero digitado foi de {}, sua porção inteira e de {}'.format(num, trunc(num)))

digite um numero: 6.1918
O numero digitado foi de 6.1918, sua porção inteira e de 6

EX:021

In [ ]:
from math import hypot
co = float(input("Comprimento do cateto oposto: "))
ca = float(input("Comprimento do cateto adjacente: "))
R = hypot(co,ca)
print("O valor e de {:.4f}".format(R))

Comprimento do cateto oposto: 2
Comprimento do cateto adjacente: 2.5
O valor e de 3.2016

EX:022

In [ ]:
from math import radians, sin, cos, tan
ângulo = float (input ('Digite o ângulo que você deseja: '))
seno = sin(radians(ângulo) )
print("O ângulo de {} tem o SENO de {:.2f}".format (ângulo, seno))
cosseno = cos(radians(ângulo) )
print("O ânqulo de {} tem o COSSENO de {:.2f}".format(ângulo, cosseno) )
tangente = tan(radians (ângulo) )
print("0 ângulo de {} tem a TANGENTE de {:.2f}".format(ângulo, tangente))

Digite o ângulo que você deseja: 30
O ângulo de 30.0 tem o SENO de 0.50
O ânqulo de 30.0 tem o COSSENO de 0.87
0 ângulo de 30.0 tem a TANGENTE de 0.58

EX:023

In [ ]:
from random import choice
A1 = input("Digite o nome de um aluno: ")
A2 = input("Digite o nome de um aluno: ")
A3 = input("Digite o nome de um aluno: ")
A4 = input("Digite o nome de um aluno: ")
lista = [A1,A2,A3,A4]
escolhido = choice(lista)
print("O aluno escolhido foi: {}".format(escolhido))

Digite o nome de um aluno: ana
Digite o nome de um aluno: lara
Digite o nome de um aluno: matheus
Digite o nome de um aluno: davi
O aluno escolhido foi: davi

EX:024

In [ ]:
from random import shuffle
A1 = input("Digite o nome de um aluno: ")
A2 = input("Digite o nome de um aluno: ")
A3 = input("Digite o nome de um aluno: ")
A4 = input("Digite o nome de um aluno: ")
lista = [A1,A2,A3,A4]
shuffle(lista)
print ("A ordem de apresentação e")
print(lista)

Digite o nome de um aluno: ana
Digite o nome de um aluno: lara
Digite o nome de um aluno: matheus
Digite o nome de um aluno: davi
A ordem de apresentação e
['ana', 'lara', 'davi', 'matheus']

EX:025

In [ ]:
nome = str(input('Digite seu nome completo: ')).strip()
print('Analisando seu nome...')
print("seu nome em maisculo é {} ".format(nome.upper()))
print('Seu nome em minusculo é {} '.format(nome.lower()))
print('Seu nome ao todo tem {} letras'.format(len(nome)))
print('Seu primeiro nome tem {} letras'.format(nome.find(' ')))
n1 = nome.split()
print('Seu primeiro nome e: {}'.format(n1[ : 1]))

Digite seu nome completo: Matheus Passos Suave
Analisando seu nome...
seu nome em maisculo é MATHEUS PASSOS SUAVE
Seu nome em minusculo é matheus passos suave
Seu nome ao todo tem 20 letras
Seu primeiro nome tem 7 letras
Seu primeiro nome e: ['Matheus']

EX:026

In [ ]:
numero = input('Digite um numero: ')
print('Analisando o numero {}'.format(numero))
unidade = numero[3]
dezena = numero[2]
centa = numero[1]
milhar = numero[0]
print('o numero {} tem um total de {} unidades'.format(numero, unidade))
print('o numero {} tem um total de {} dezenas'.format(numero, dezena))
print('o numero {} tem um total de {} centas'.format(numero, centa))
print('o numero {} tem um total de {} milhar'.format(numero, milhar))

In [ ]:
numero = int(input('Digite um numero: '))

u = numero // 1 % 10
d = numero // 10 % 10
c = numero // 100 % 10
m = numero // 1000 % 10

print('Analisando o numero {}'.format(numero))
print('unidade {}'.format(u))
print('Dezena {}'.format(d))
print('Centena {}'.format(c))
print('Milhar {}'.format(m))

Digite um numero: 179326
Analisando o numero 179326
unidade 6
Dezena 2
Centena 3
Milhar 9

EX:027

In [ ]:
cidade = str(input('Digite a cidade que voce nasceu? ')).strip()
print(cidade[:5].upper() == "SANTO")

Digite a cidade que voce nasceu?            santo         arotr
True

EX:028

In [ ]:
nome = str(input('Digite seu nome completo: ')).strip()
print('Seu nome tem silva? {}'.format(nome.find('silva')))

Digite seu nome completo: silva dos santos
Seu nome tem silva? 0

In [ ]:
nome = str(input('Digite seu nome completo: ')).strip().lower()
print('Seu nome tem silva ? {}'.format('silva' in nome))

Digite seu nome completo: Matheus da SILva passos
Seu nome tem silva ? True

EX:029

In [ ]:
frase = str(input('Digite uma frase: ')).strip().upper()
print('A letra A apareceu {} vezes nessa frase.'.format(frase.count('A')))
print('A letra A aparece pela primeira vez na posição {}'.format(frase.find('A')+1))
print('A letra A apareceu pela ultma vez na posição {}'.format(frase.rfind('A')+1))

EX:030

In [ ]:
nome = str(input('Digite seu nome completo: ')).strip()
n = nome.split()
print('Seu primeiro nome e {}'.format(n[0]))
print('Seu ultimo nome e {}'.format(n[len(n)-1]))

Digite seu nome completo: Maahtu pdasdasd fdafsf dfasdfsdf sdfa
Seu primeiro nome e Maahtu
Seu ultimo nome e sdfa

EX:031

In [ ]:
from random import randint
from time import sleep
computador = randint(0,10)
print('---' * 15)
jogador = int(input('advinhe o numero que eu estou pensando: '))
print('---' * 15)
print('Processando...')
sleep(2)
if jogador == computador:
  print('Parabens, você ganhou 😁😁')
else:
  print('Sabia que voce nao iria advinhar 😎😎 ')
print('Eu estava pensando no numero {}'.format(computador))

---------------------------------------------
advinhe o numero que eu estou pensando: 5
---------------------------------------------
Processando...
Sabia que voce nao iria advinhar 😎😎
Eu estava pensando no numero 6

EX:032

In [ ]:
velocidade = int(input('Qual velocidade voce esta dirigindo? '))
if velocidade <=80:
  print('Tenha um otimo dia, dirija com segurança ')
else:
  print('MULTADO!, Voce excedeu o limite de 80KM/h')
  print('Voce foi multado em R$ 280 reias')

Qual velocidade voce esta dirigindo? 120
MULTADO!, Voce excedeu o limite de 80KM/h
Voce foi multado em R$ 280 reias

EX:033

In [ ]:
numero = int(input('Digite um numero:'))
if numero % 2 == 1:
  print('O numero escolhido e Impar ')
else:
  print('O numero escolhido e Par ')

Digite um numero:3
O numero escolhido e Impar

EX:034

In [ ]:
viagem = int(input('Quantos km voce vai viajar? '))
if viagem <= 150:
  total = viagem * 1.75
else:
  total = viagem * 1.50
print('voce esta prestes a gasta R${}'.format(total))

Quantos km voce vai viajar? 200
voce esta prestes a gasta R$300.0

EX:035

In [ ]:
from datetime import date
ano = int(input('Qual ano voce quer analisar?, digite 0 se quiser o ano atual: '))
if ano ==0:
  ano = date.today().year
if ano % 4 == 0 and ano % 100 != 0 or ano % 400 == 0:
  print('O ano {} e bissexto'.format(ano))
else:
  print('O ano {} não e bissexto '.format(ano))

Qual ano voce quer analisar?, digite 0 se quiser o ano atual: 1999
O ano 1999 não e bissexto

EX:036

In [ ]:
a = int(input('Digite o primeiro numero: '))
b = int(input('Digite o segundo numero: '))
c = int(input('Digite o terceiro numero: '))
if a<b and a<c:
  print('o menor numero e a')
if b<c and b<a:
  print('o menor numero e b')
if c<a and c<b:
  print('o menor numero e c')


if a>b and a>c:
  print('o maior numero e a')
if b>c and b>a:
  print('o maior numero e b')
if c>a and c>b:
  print('o maior numero e c')

Digite o primeiro numero: 5
Digite o segundo numero: 7
Digite o terceiro numero: 2
o menor numero e c
o maior numero e b

EX:037

In [ ]:
salario = int(input('Digite seu salario: '))
if salario < 1500:
  total = salario * 1.15
  print('Seu salario agora e de {}'.format(total))
else:
  total = salario * 1.1
  print('Seu salario agora e de {}'.format(total))

Digite seu salario: 2000
Seu salario agora e de 2200.0

EX:038

In [ ]:
a = int(input('primeiro segmento: '))
b = int(input('segundo segmento: '))
c = int(input('terceiro segmento: '))
if a < b + c and b < c + a and c < b + a:
  print('Os segmentos acima podem formar um triangulo! ')
else:
  print('Os segmentos acima nao podem formar um triangulo! ')

EX:039

In [ ]:
casa = float(input('Qual o valor da casa? '))
salario = float(input('Quanto voce recebe por mes? '))
dividir = int(input('Em quantas vezes voce vai querer dividir essa casa? '))
minimo = salario * 0.30

prestação = casa / dividir
if prestação > (salario * 0.30):
  print(' a casa custa {} e a parcela da casa nao pode ser maior que {}, infelimente vou ser obrigado a negar seu pedido'.format(casa, minimo))
elif prestação < (salario *0.30):
  print('Parabens, a casa custa {} com os 30% do seu salario que e equivalente a {} voce pode comprar essa casa'.format(casa,minimo))

Qual o valor da casa? 20000
Quanto voce recebe por mes? 12000
Em quantas vezes voce vai querer dividir essa casa? 72
Parabens, a casa custa 20000.0 com os 30% do seu salario que e equivalente a 3600.0 voce pode comprar essa casa

EX:040

In [ ]:
numero = int(input('Digite um numero: '))
print('''Escolha uma converção:
[1] Binario
[2] Octal
[3] Hexadecimal ''')
opção = int(input('Escolha um numero: '))
if opção == 1:
  print('O numero {} convertido em BINARIO e igual a {}'.format(numero, bin(numero)[2:]))
elif opção == 2:
  print('O numero {} convertido em OCTADECIMAL e igual a {}'.format(numero, oct(numero)[2:]))
elif opção == 3:
  print('O numero {} convertido em HEXADECIMAL e igual a {}'.format(numero, hex(numero)[2:]))
else:
  print('Opção invalida, tente novamente')

Digite um numero: 512
Escolha uma converção:
[1] Binario
[2] Octal
[3] Hexadecimal
Escolha um numero: 3
O numero 512 convertido em HEXADECIMAL e igual a 200

EX:041

In [ ]:
primeiro = int(input('Digite um numero: '))
segundo = int(input('Digite outro numero: '))
if primeiro > segundo:
  print('O primeiro numero escolhido e maior')
elif segundo > primeiro:
  print('O segundo numero e escolhido e maior')
else:
  print('Ambos os numeros sao iguais')

Digite um numero: 8
Digite outro numero: 8
Ambos os numeros sao iguais

EX:042

In [ ]:
from datetime import date
atual = date.today().year

nasc = int(input('Ano de nascimento: '))
idade = atual - nasc
print('Quem nasceu em {} tem {} anos em {}'.format(nasc,idade, atual))
if idade == 18:
  print('Voce deve se alistar IMEDIATAMENTE')
elif idade < 18:
  saldo = 18 - idade
  falta = atual + saldo
  print('ainda faltam {} anos pra voce se alistar'.format(saldo))
  print('Seu alistamento sera em {}'.format(falta))
else:
  saldo = idade - 18
  sobra = atual - saldo
  print('Voce deveria ter se alistado no ano de {}'.format(saldo))
  print('Seu alistamento foi em {}'.format(sobra))

Ano de nascimento: 2010
Quem nasceu em 2010 tem 14 anos em 2024
ainda faltam 4 anos pra voce se alistar
Seu alistamento sera em 2028

EX:043

In [ ]:
n1 = float(input('Primeira nota: '))
n2 = float(input('Segunda nota: '))
soma = (n1 + n2) / 2
if soma > 7:
  print('Tirando {} e {} sua soma final ficou de {}, Parabens voce foi APROVADO'.format(n1, n2, soma))
elif soma > 4:
  print('Tirando {} e {} sua soma final ficou de {}, Voce esta de RECUPERAÇÃO! '.format(n1, n2, soma))
else:
  print('Tirando {} e {} sua soma final ficou de {}, Voce esta REPROVADO! '.format(n1, n2, soma))

Primeira nota: 2
Segunda nota: 3
Tirando 2.0 e 3.0 sua soma final ficou de 2.5, Voce esta REPROVADO!

EX:044

In [ ]:
from datetime import date
atual = date.today().year
nascimento = int(input('Digite seu ano de nascimento: '))
idade = atual - nascimento
if idade < 10:
  print('Voce é junior I')
elif idade > 10:
  print('Voce e juniot II')
elif idade > 20:
  print('Voce e Senior I')
elif idade > 30:
  print('Voce e Senior II')
else:
  print('Voce zerou o jogo')

Digite seu ano de nascimento: 1990
Voce e juniot II

EX:045

In [ ]:
print('-------------')
print('LOJA SUAVE')
print('-------------')
preço = int(input('Preço da compra: '))
print('''FORMA DE PAGAMENTO
[1] A VISTA
[2] CARTÃO
[3] 2X NO CARTÃO
[4] 3X OU MAIS NO CARTÃO
Qual opção vai querer? ''')

f1 = preço * 0.90
f2 = preço * 1.00
f3 = preço * 1.10
f4 = preço * 1.20


numero = int(input('Escolha um numero: '))

if numero == 1:
  print('O valor final via ficar {}'.format(f1))
elif numero == 2:
  print('O valor final vai ficar {}'.format(f2))
elif numero == 3:
  print('O valor final vai ficar {}'.format(f3))
elif numero == 4:
  print('O valor final vai ficar {}'.format(f4))
else:
  print('Essa opção não existe')

-------------
LOJA SUAVE
-------------
Preço da compra: 1000
FORMA DE PAGAMENTO
[1] A VISTA
[2] CARTÃO
[3] 2X NO CARTÃO
[4] 3X OU MAIS NO CARTÃO
Qual opção vai querer?
Escolha um numero: 4
O valor final vai ficar 1200.0

EX:046

In [ ]:
from random import randint
itens = ('Pedra', 'Papel', 'Tesoura')
computador = randint(0, 2)
print('''suas opções
[0] Pedra
[1] Papel
[2] Tesoura ''')
jogador = int(input('Qual a sua jogada '))
print('O computador escolheu {}'.format(itens[computador]))
print('O jogador escolheu {}'.format(itens[jogador]))
if computador == 0:
  if jogador == 0:
    print('O jogo terminou empatado')
  elif jogador == 1:
    print('O jogador venceu')
  elif jogador == 2:
    print('A maquina venceu')


elif computador == 1:
  if jogador == 0:
    print('A maquina venceu')
  elif jogador == 1:
    print('O jogo terminou empatado')
  elif jogador == 2:
    print('O jogador venceu')

elif computador ==2:
  if jogador == 0:
    print('O jogador venceu')
  elif jogador == 1:
    print('A maquina venceu')
  elif jogador == 2:
    print('O jogo terminou empatado')

suas opções
[0] Pedra
[1] Papel
[2] Tesoura
Qual a sua jogada 0
O computador escolheu Papel
O jogador escolheu Pedra
A maquina venceu

EX:047

In [ ]:
from time import sleep
for c in range(10 , 0 , -1):
  print(c)
  sleep(0.5)
print('BUM, EXPLOSÕES, BUM')

10
9
8
7
6
5
4
3
2
1
BUM, EXPLOSÕES, BUM

EX:048

In [ ]:
for c in range (0, 85, 2):
  print(c)
print ('acabou')

EX:049

In [ ]:
soma = 0
numero = 0
for c in range (1, 501, 2):
  if c % 3 == 0:
    soma = soma + c
    numero = numero + 1
print('A soma dos {} numeros foi de {}'.format(numero , soma))

A soma dos 83 numeros foi de 20667

EX:050

In [ ]:
variavel = 0
n = int(input('Escolha um numero: '))
for c in range(1 , 11):
  variavel = variavel + 1
  print('{} x {} = {}'.format(n , variavel , n*c))

Escolha um numero: 20
20 x 1 = 20
20 x 2 = 40
20 x 3 = 60
20 x 4 = 80
20 x 5 = 100
20 x 6 = 120
20 x 7 = 140
20 x 8 = 160
20 x 9 = 180
20 x 10 = 200

EX:051

In [ ]:
numero = 0
soma = 0
for c in range(0, 6):
  s = int(input('Digite um numero: '))
  if s % 2 == 0:
    soma = soma + s
    numero = numero + 1
print('A soma dos {} numeros da um total de {} '.format(numero, soma))

Digite um numero: 12
Digite um numero: 15
Digite um numero: 18
Digite um numero: 9
Digite um numero: 10
Digite um numero: 5
A soma dos 3 numeros da um total de 40

EX:052

In [ ]:
primeiro = int(input('Primeiro termo: '))
razao = int(input('Razão: '))
decimo = primeiro + (10 - 1)* razao
for c in range (primeiro, decimo + razao, razao):
  print ('{}'.format(c), end = ' -> ')
print('FIM')

EX:053

In [ ]:
from datetime import date
atual = date.today().year
maior = 0
menor = 0
for c in range(1, 8):
  nasc = int(input('Digite o ano do seu nascimento: '))
  idade = atual - nasc
  if idade >= 18:
    maior = maior + 1
  else:
    menor = menor + 1
print('Nesse grupo temos um total de {} pessoas de maior e {} de menor'.format(maior,menor))

EX:054

In [ ]:
maior = 0
menor = 0
for c in range(1,6):
  peso = float(input('Digite o peso:' ))
  if c == 1:
    maior = peso
    menor = peso
  else:
    if peso > maior:
      maior = peso
    if peso < menor:
      menor = peso
print('O maior peso lido foi de {} KG'.format(maior))
print('O menor peso lido foi de {} KG'.format(menor))

EX:055

In [ ]:
Midade = 0
maioridadehomen = 0
nomevelho = ''
totmulher20 = 0
for c in range(1, 5):
    nome = str(input('Digite seu nome: ')).strip()
    idade = int(input('Digite sua idade: '))
    sexo = str(input('Qual seu sexo: [M/F]')).strip()
    Midade += idade
    if sexo in 'Mm':
        if c == 1 or idade > maioridadehomen:
            maioridadehomen = idade
            nomevelho = nome
    if sexo in 'Ff' and idade > 20:
            totmulher20 = totmulher20 + 16

mediaI = Midade / c
print('A idade média do grupo é de {}'.format(mediaI))
print('O homem mais velho tem {} anos e se chama {}'.format(maioridadehomen, nomevelho))
print('O total de mulher com mais de 20 anos foi de {}'.format(totmulher20))

EX:056

In [ ]:
sexo = str(input('Digite seu sexo[M/F]')).strip().upper()[0]
while sexo not in 'MF':
  sexo = str(input('Dados invalidos, Por favor, Informe seu sexo: ')).strip().upper()[0]
print('Sexo {} registrado'.format(sexo))

EX:057

In [ ]:
from random import randint
print('Sou seu computador')
print('Acabei de pensar em um numero de 0 a 10')
print('Sera que voce consegue advinhar qual foi? ')
palpite = int(input('Qual seu palpite? '))
computador = randint(0,10)
tentativas  = 1
while palpite != computador:
  tentativas = tentativas + 1
  if palpite > computador:
    palpite = int(input('Menos...tente outra vez: '))
  elif palpite < computador:
    palpite = int(input('Mais...tente outra vez: '))
print('Parabens voce ganhou com um total de {} tentativas '.format(tentativas))

EX:058

In [ ]:
n1 = int(input('Digite um numero: '))
n2 = int(input('Digite um numero: '))
print('[1] Somar')
print('[2] Multiplicar')
print('[3] Maior')
print('[4] Novos numeros')
print('[5] Sair do programa')


escolha = 0


while escolha != 5:
  escolha = int(input('Escolha um numero: '))
  if escolha == 1:
    soma = n1 + n2
    print('A soma de {} com {} e de {}'.format(n1, n2, soma))
  elif escolha == 2:
    mult = n1 * n2
    print('A multiplicação de {} com {} e {} '.format(n1, n2, mult))
  elif escolha == 3:
      if n1 > n2:
        print('O maior numero entre {} e {} é {} '.format(n1, n2, n1 ))
      elif n1 < n2:
        print('O maior numero entre {} e {} é {} '.format(n1, n2, n2))
  elif escolha == 4:
    n1 = int(input('Digite um numero: '))
    n2 = int(input('Digite um numero: '))
  elif escolha == 5:
    print('Voce saiu do programa')
  else:
    print('Opção invalidade tente novamente ')

EX:059

In [ ]:
from math import factorial
n = int(input('Digite um numero qualquer: '))
f = factorial (n)
print('O fatorial de {} é {}'.format(n,f))

Digite um numero qualquer: 5
O fatorial de 5 é 120

EX:060

In [ ]:
n = int(input('Quantos termos voce quer mostrar: '))
t1 = 0
t2 = 1
cont = 3
print('{} -> {} '.format(t1, t2), end= " ")

while cont <= n:
  t3 = t1 + t2
  print('{}'.format(t3),end = ' -> ')
  t1 = t2
  t2 = t3
  cont = cont + 1
print('FIM')

Quantos termos voce quer mostrar: 10
0 -> 1  1 -> 2 -> 3 -> 5 -> 8 -> 13 -> 21 -> 34 -> FIM

EX:061

In [ ]:
numero = 0
s = 0
n = int(input('Digite um numero[999 para parar]'))
while n != 999:
  s = s + n
  numero = numero + 1
  n = int(input('Digite outro numero: '))
print('Voce digitou {} numeros e a soma entre eles foi de {}'.format(s, numero))

Digite um numero[999 para parar]85
Digite outro numero: 77
Digite outro numero: 62
Digite outro numero: 999
Voce digitou 224 numeros e a soma entre eles foi de 3

EX:062

In [ ]:
resp = 'S'
numerosdigitados = 0
maior = 0
soma = 0
menor = num


while resp in 'Ss':
  num = int(input('Digite um numero: '))
  numerosdigitados = numerosdigitados + 1
  soma = num + soma
  if num > maior:
      maior = num
  if num < menor:
      menor = num

  resp = str(input('Quer continuar[S/N]')).upper().strip()[0]

media = soma / 2

print('Voce Digitou {} numeros a media entre eles e {}'.format(numerosdigitados, media))
print('O maior numero entre eles é {} e o menor é {}'.format(maior, menor))

EX:063

In [ ]:
s = 0
n = int(input('Digite um numero: '))
while n != 999:
  s = s + n
  n = int(input('Digite um numero: '))
  if n == 999:
    break
print('A soma dos numero e de {}'.format(s))

Digite um numero: 8
Digite um numero: 6
Digite um numero: 3
Digite um numero: 999
A soma dos numero e de 17

EX:064

In [ ]:
n = int(input('Qual numero voce quer ver a tabuada: '))
while n >= 0:
  for c in range(1, 11):
    vezes = n * c
    print('{} x {} = {}'.format(n, c, vezes))
  n = int(input('Quer ver a tabuada de outro valor: '))
print('ACABOU')

EX:065

In [ ]:
from random import randint
n = int(input('Digite um valor:'))
escolha = str(input('[P/I]')).strip().upper()[0]
computador = randint(1, 10)
resultado = n + computador
PI = resultado % 2



if (PI == 0 and escolha == 'P') or (PI == 1 and escolha == 'I'):
  print('Voce jogou {} e o computador {} resultado foi {} que é par'.format(n,computador, resultado))
else:
  print('Voce jogou {} e o computador {} resultado foi {} que é impar'.format(n,computador, resultado))

Digite um valor:5
[P/I]p
Voce jogou 5 e o computador 5 resultado foi 10 que é

EX:066

In [ ]:
idade = 0
masc = 0
fem = 0
maiores_idade = 0

while True:
    idade = int(input('Idade: '))
    if idade >= 18:
        maiores_idade += 1

    sexo = ' '
    while sexo not in 'MF':
        sexo = input('Sexo [M/F]: ').strip().upper()
        if sexo == 'M':
            masc += 1
        elif sexo == 'F':
            fem += 1

    resp = ' '
    while resp not in 'SN':
        resp = input('Quer continuar? [S/N]: ').strip().upper()
        if resp == 'N':
            print('No total temos {} homens, {} mulheres e {} maiores de idade.'.format(masc, fem, maiores_idade))
    if resp == 'N':
        break

EX:067

In [ ]:
total = 0
caro = 0
barato = float('inf')

while True:
    produto = input('Nome do Produto: ')
    preço = float(input('Preço do Produto: '))
    total += preço

    if preço >= 1000:
        caro += 1

    if preço < barato:
        barato = preço

    continuar = input('Quer continuar [S/N]: ').strip().upper()
    while continuar not in 'SN':
        continuar = input('Quer continuar [S/N]: ').strip().upper()

    if continuar == 'N':
        print('O total comprado foi de R$', total)
        print('Foram', caro, 'produtos custando mais de R$ 1000')
        print('O produto mais barato custou R$', barato)
        break

EX:068

In [ ]:
valor = int(input('Digite o valor que voce quer sacar: '))
total = valor
ced = 50
totced = 0
while True:
  if total >= ced:
    total -= ced
    totced += 1
  else:
    if totced > 0:
      print('O total de {} cedulas e de  R${}'.format(totced, ced))
      if ced == 50:
        ced = 20
      elif ced == 20:
        ced = 10
      elif ced == 10:
        ced = 1
      totced = 0
      if total == 0:
        break

Digite o valor que voce quer sacar: 584
O total de 11 cedulas e de  R$50
O total de 1 cedulas e de  R$20
O total de 1 cedulas e de  R$10
O total de 4 cedulas e de  R$1

EX:069

In [ ]:
cont = ('zero','um','dois','tres','quatro','cinco','seis',
        'sete','oito','nove','dez','onze','doze','treze',
        'quatorze','quinze','dezesseis','dezessete',
        'dezoito','dezenove','vinte')

while True:
    n = int(input('Digite um número entre 0 e 20: '))
    if 0 <= n <= 20:
        print('Você digitou o número', cont[n])
    else:
        print('Entre 0 e 20...')
        continue

    resp = input('Deseja continuar? [S/N]: ').upper()
    if resp != 'S':
        print('O programa se encerrou.')
        break

EX:070

In [ ]:
brasileirao = ('flamengo', 'vasco', 'botafogo', 'avai', 'corinthians', 'palmeiras', 'fluminense', 'atletico MG','gremio', 'sao paulo' )

print(brasileirao)
print(brasileirao[:5])
print(brasileirao[5:])
print(sorted(brasileirao))

teste = brasileirao.index('flamengo') + 1
print('O flamengo esta na posição {}'.format(teste))

('flamengo', 'vasco', 'botafogo', 'avai', 'corinthians', 'palmeiras', 'fluminense', 'atletico MG', 'gremio', 'sao paulo')
('flamengo', 'vasco', 'botafogo', 'avai', 'corinthians')
('palmeiras', 'fluminense', 'atletico MG', 'gremio', 'sao paulo')
['atletico MG', 'avai', 'botafogo', 'corinthians', 'flamengo', 'fluminense', 'gremio', 'palmeiras', 'sao paulo', 'vasco']
O flamengo esta na posição 1

EX:071

In [ ]:
from random import randint
n = randint(1,50),randint(1,50),randint(1,50),randint(1,50),randint(1,50)
tupla = n
print(tupla)

maior = max(n)
menos = min(n)
print('O maior numero sorteado foi de {}, enquanto o menor foi de {} '.format(maior,menos))

(12, 17, 20, 25, 8)
O maior numero sorteado foi de 25, enquanto o menor foi de 8

EX:072

In [ ]:
n1 = int(input('Digite um numero: '))
n2 = int(input('Digite um numero: '))
n3 = int(input('Digite um numero: '))
n4 = int(input('Digite um numero: '))
nove = 0
tupla = (n1,n2,n3,n4)
print(tupla)
  if tupla == 9:
    nove = nove + 1
  if

IndentationError: unexpected indent (<ipython-input-26-763892b9e783>, line 8)

In [ ]:
for c in range(0, 100, 3):
  print(c)

EX:073

In [ ]:
par = 0
impar = 0
soma = 0

for c in range(10, 99):
  if c % 2 == 0:
    par = c + par
  else:
    impar = impar + c
print('A soma dos numero pares e de {}, e os impares e de {}'.format(par, impar))

A soma dos numero pares e de 2430, e os impares e de 2376

EX:074

In [ ]:
def eh_multiplo_de_onze(num):
    return num % 11 == 0

inicio = 200
fim = 100

multiplos_de_onze = []

for i in range(inicio, fim - 1, -1):
    if eh_multiplo_de_onze(i):
        multiplos_de_onze.append(i)

soma = sum(multiplos_de_onze)

media = soma / len(multiplos_de_onze)

print("Múltiplos de 11 em ordem decrescente:")
for numero in multiplos_de_onze:
    print(numero)

print("Soma dos múltiplos de 11:", soma)
print("Média dos múltiplos de 11:", media)

EX:075

In [ ]:
sim = 0
nao = 0

for c in range(0,1000):
  empregado = input('Voce esta empregado? [S/N] ')
  if empregado not in "SsNn":
    print('Tenta novamente...')
    empregado = input('Voce esta empregado? [S/N] ')
    if empregado == 'Ss':
      sim = sim + 1
    else:
      nao = nao + 1


percentual = sim // 1000
npercentual = nao // 1000

EX:076

In [ ]:
rico = 0
media = 0
pobre = 0

for c in range(0,1000):
  salario = float(input('Qual o seu salario? '))
  if salario >= 21.180:
    rico = rico + 1
  elif 21180 > salario >= 9000:
    media = media + 1
  else:
    pobre = pobre + 1
print('Ao todo nessa lista temos {} ricos, {} clase media e {} pobres'.format(rico, media, pobre))

EX:077

In [ ]:
n = 0
for c in range(9, 90):
  if c % 3 == 0 and c % 5 !=0:
    n = n + 1
    print(c, end = ' - ' * 3)
    print(n)

EX:078

In [ ]:
morango = 0
chocolate = 0
baunilha = 0
total = 0
while True:
  preferencia = int(input('Qual dos 3 sabores voce preferiu?\n[1] para votar em morango \n[2] para chocolate \n[3] para baunilha \n[0]para sair sem dar um opniao: '))
  if preferencia == 1:
    morango = morango + 1
    total = total + 1
  elif preferencia == 2:
    chocolate = chocolate + 1
    total = total + 1
  elif preferencia == 3:
    baunilha = baunilha + 1
    total = total + 1
  else:
    break
    print('Fim do programa')
print('O numero de pessoas que preferem morango e de {} \n O numero de pessoas que preferem chocolate e de {} \n O numero de pessoas que preferem baunilha e de {}, no total {} pessoas votaram '.format(morango,chocolate,baunilha, total))

percentualMorango = total // morango
percentualChocolate = total // chocolate
percentualBaunilha = total // baunilha

print(percentualMorango)
print(percentualChocolate)
print(percentualBaunilha)

EX:079

In [ ]:
n1 = int(input('Digite um numero qualquer: '))
for c in range(1,50):
  print(n1 + c)



EX:080

In [ ]:
altura1 = 0
MAltura = 0
altura2 = 0


for c in range(0, 50):
  sexo = str(input('Qual seu sexo? [M/F] ')).upper()[0]
  altura = float(input('Qual sua altura? '))
  MAltura = MAltura + altura
  if altura > altura1:
    altura1 = altura
  if altura > 1.82:
    altura2 = altura2 + 1
mediaaltura = MAltura // 50

print('A altura da pessoa mais alta e de {}'.format(altura1))
print('A media de altura e de {}'.format(mediaaltura))
print('O total de pessoas com mais de 1.82 e de {}'.format(altura2))

Qual seu sexo? [M/F] f
Qual sua altura? 1.75

In [ ]:
def bisexto(numero):
  if (numero % 4 == 0 and numero % 100 != 0) or (numero % 400 == 0):
    return True
  else:
    return False

def main():
  numero = int(input('Digite um numero '))
  if bisexto(numero):
    print('bisexto')
  else:
    print('nao bisexto')

if __name__ == "__main__":
  main()

In [ ]:
#Escrever um programa que faça a Modelagem dos Dados. conforme o formulário PRODUTO (list) a seguir, preenchendo os dados em uma Lista: PESQUISA (list).

#PRODUTO CÓDIGO: XXX PREÇO (RS): Mínimo de R$ 0.25

# Para os dados lidos do usuário, fazer obrigatoriamente o tratamento de erro e exceção (try-except). Após isso, exibir na tela um relatório: Enumerado e formatado dos produtos (CÓDIGO e PREÇO) que estão acima do preço médio de mercado

def ler_produto():
    codigo = input("Digite o código do produto: ")
    try:
        preco = float(input("Digite o preço do produto (R$): "))
        if preco < 0.25:
            raise ValueError("O preço mínimo deve ser R$ 0.25")
        return codigo, preco
    except ValueError as e:
        print("Erro:", e)
        return None, None

def calcular_preco_medio(produtos):
    total_precos = sum(produto[1] for produto in produtos)
    return total_precos / len(produtos)

def main():
    pesquisa = []
    while True:
        codigo, preco = ler_produto()
        if codigo is not None and preco is not None:
            pesquisa.append((codigo, preco))
        continuar = input("Deseja adicionar outro produto? (s/n): ")
        if continuar.lower() != 's':
            break

    if pesquisa:
        preco_medio = calcular_preco_medio(pesquisa)
        print("\nRelatório de produtos acima do preço médio de mercado:")
        for i, produto in enumerate(pesquisa, 1):
            if produto[1] > preco_medio:
                print(f"{i}. Código: {produto[0]}, Preço: R${produto[1]:.2f}")

if __name__ == "__main__":
    main()

In [ ]:
def calc(n1,n2):
  r1 = n1, n2
  r2 = n1 + n2
  r3 = (n1 + n2) // 2
  return r1, r2, r3

n1 = int(input('Digite um numero '))
n2 = int(input('Digite um numero '))
r1,r2,r3 = calc(n1,n2)
print(r1)
print(r2)
print(r3)

In [ ]:
#Criar uma função e protótipo que receba como argumento um 𝑁ú𝑚𝑒𝑟𝑜 inteiro (𝑁ú𝑚𝑒𝑟𝑜 > 0) e retorne à multiplicação dos Pares ou dos Ímpares entre [1, 𝑁ú𝑚𝑒𝑟𝑜] de acordo com a Opção do
#usuário. Na célula do programa principal, use a função 100 vezes para valores de 𝑁ú𝑚𝑒𝑟𝑜 e Opção escolhidos pelo usuário

def mul(numero, escolha):
  if numero > 0 and escolha == 'p':
    for c in range(0, numero, 2):
      total = (c * numero)
  elif numero > 0 and escolha == 'i':
    for c in range(1, numero, 2):
      total = (c * numero)
  return numero,escolha,total

def main():
  numero = (int(input('Escolha um numero: ')))
  escolha = str((input('Escolha um [i/p]'))).lower()[0]
  numero, escolha, total = mul(numero, escolha)
  for c in range(0, 100):
    print(c * numero)

if __name__ =="__main__":
  main()

In [ ]:
# Criar duas funções e seus protótipos que calculam a Combinação e o Arranjo de 𝑛 elementos combinados 𝑝 a 𝑝. Após isso, na célula do programa principal, use as funções criadas várias vezes e exiba o resultado
# da Combinação e do Arranjo enquanto os valores lidos do usuário: 𝑛 e 𝑝 estiverem corretos. Sabe-se que: 𝐴𝑟𝑟𝑎𝑛𝑗𝑜(𝑛, 𝑝) =𝑛! (𝑛−𝑝)! 𝐶𝑜𝑚𝑏𝑖𝑛𝑎çã𝑜(𝑛, 𝑝) = 𝐴𝑟𝑟𝑎𝑛𝑗𝑜(𝑛, 𝑝) 𝑝!; 𝑠𝑒𝑛𝑑𝑜 𝑞𝑢𝑒: 𝑛 𝑒 𝑝 ≥ 0 𝑒 𝑛 ≥ �

def func(escolha,n,p):
  if escolha == 'C':
    combinação = (n + p) // 2
  elif escolha == 'A':
    combinação = n // (n-p)
  return combinação

def main():
  n = int(input('Digite um numero: '))
  p = int(input('Digite outro numero: '))
  escolha = str(input('escolha um [C/A]')).upper()[0]
  combinação = func(escolha,n,p)
  print(combinação)

if __name__ == "__main__":
  main()

In [ ]:
def soma(n1,n2):
  s = n1 + n2
  print(s)

soma(10,15)

25

In [ ]:
def soma (*num):
  s = 0
  for c in num:
    s = s + c
  print(s)

soma(12, 15, 22,)

49

In [ ]:
#Crie uma função que calcule o IMC (Índice de Massa Corpórea) de uma pessoa com base na sua idade, massa e sexo conforme tabela. Na célula do programa principal, use a função e exiba o IMC de 100 entrevistados (um por um).

def IMC(sexo, massa, altura):
  if sexo == 'M':
    resultado = (1.05 * massa) // (altura ** 2)
  elif sexo == 'F':
    resultado = (0.95 * massa) // (altura ** 2)
  return resultado

def main():
  sexo = str(input('Qual seu sexo?[M/F] ')).upper()[0]
  massa = int(input('Qual sua massa? '))
  altura = float(input('Qual sua altura? '))

  imc = IMC(sexo, massa, altura)
  print('Seu IMC e de {}'.format(imc))

if __name__ == "__main__":
  main()

Qual seu sexo?[M/F] m
Qual sua massa? 92
Qual sua altura? 1.81
Seu IMC e de 29.0

In [ ]:
def calc(n1, n2, escolha):
    if escolha == 1:
        resultado = n1 + n2
    elif escolha == 2:
        resultado = n1 - n2
    elif escolha == 3:
        resultado = n1 * n2
    elif escolha == 4:
        resultado = n1 / n2
    elif escolha == 5:
        resultado = n1 % n2
    elif escolha == 6:
        resultado = n1 // n2
    else:
        print('Escolha uma opção válida')
        return None
    return resultado

def main():
  escolha = int(input('Escolha um numero \n [1] para somar \n [2] para subtrair \n [3] para multiplicar \n [4] para dividir \n [5] para restante \n [6] para divisao completa \n'))
  n1 = int(input('Escolha um numero: '))
  n2 = int(input('Escolha outro numero: '))
  resultado = calc(n1, n2, escolha)
  print('O resultado e de {}'.format(resultado))

if __name__ == "__main__":
  main()

Escolha um numero
 [1] para somar
 [2] para subtrair
 [3] para multiplicar
 [4] para dividir
 [5] para restante
 [6] para divisao completa
1
Escolha um numero: 12
Escolha outro numero: 6
O resultado e de 18

In [ ]:
def jogo(idade):
  if idade < 10:
    pagamento = print('Voce não precisa pagar')
  elif 10 < idade < 17:
    pagamento = print('voce so paga meia')
  elif idade > 18:
    pagamento = print('Voce paga inteira')
  else:
    print('escolha um opção valida')
    return None

  return pagamento

def main():
  idade = int(input('Qual a sua idade'))
  pagamento = jogo(idade)


if __name__ == "__main__":
  main()

In [ ]:
def jogo(escolha):
  if escolha == 1:
    pagamento = 'Voce não precisa pagar'
  elif escolha == 2:
    pagamento = 'voce so paga meia'
  elif escolha == 3:
    pagamento = 'Voce paga inteira'
  else:
    pagamento = 'escolha um opção valida'
  return pagamento

def main():
  escolha = int(input('Escolha um numero: \n [1] se voce tiver menos de 10 anos \n [2] se voce tiver entre 10 e 17 \n [3] se voce for maior de idade \n'))
  teste = jogo(escolha)
  print(teste)


if __name__ == "__main__":
  main()

In [ ]:
#Escrever um algoritmo para exibir os múltiplos de 3 compreendidos no intervalo: [3 100]

for c in range(3,100,3):
  print(c)

In [ ]:
#Escrever um algoritmo para exibir os múltiplos de 11, a soma e a média dos múltiplos de 11, em ordem decrescente (inversa), compreendidos entre o intervalo: [200 100].
soma = 0
for c in range(200,100,-11):
  print (c)
  soma = soma + c
print('~~' * 10)
print(soma)
resultado = soma // 10
print('~~' * 10)
print(resultado)
print('~~' * 10)

200
189
178
167
156
145
134
123
112
101
~~~~~~~~~~~~~~~~~~~~
1505
~~~~~~~~~~~~~~~~~~~~
150

In [ ]:
#Faça um algoritmo que exiba a soma dos PARES e ÍMPARES compreendidos entre [10 99].
par = 0
impar = 0

for c in range(10,99,2):
  par = par + c
for b in range(11,99,2):
  impar = impar + b
print ('A soma dos numeros impares e de {} e dos numeros pares e de {}'.format(impar,par))

A soma dos numeros impares e de 2376 e dos numeros pares e de2430

In [ ]:
#Escreva um algoritmo que leia de 10.000 habitantes de uma pequena cidade se está empregado ou não e exiba em porcentagem a quantidade de empregados e desempregados desta pequena cidade.
empregado = 0
desempregado = 0
total = 10000

for c in range(0,10000):
  emprego = str(input('Voce esta empregado no momento? [S/N]')).upper()[0]
  if emprego == 'S':
    empregado = empregado + 1
  elif emprego == 'N':
    desempregado = desempregado + 1
  else:
    print('Escolha um opção valida')


percentual_empregado = (empregado / total) * 100
percentual_desempregado = (desempregado / total) * 100

print('O percentual de empregados e de {} e o de desempregados e de {}'.format(percentual_empregado, percentual_desempregado))

In [ ]:
#Escreva um algoritmo que leia o salário em reais (R$) de 1000 clientes de um shopping e exiba na tela, em porcentagem, a divisão dos clientes por tipo: A, B ou C, conforme a seguir:
# A: Maior ou igual a 15 Salários Mínimos ou
# B: Menor que 15 Salários Mínimos ou maior ou igual a 5 Salários Mínimos ou
# C: Menor que 5 Salários Mínimos
a = 0
b = 0
c = 0
total = 1000

for c in range(0,1000):
  salario = float(input('Digite seu salario: '))
  if salario >= 15000:
    a = a + 1
  elif 15000 > salario > 5000:
    b = b + 1
  else:
    c = c + 1

ta = (a / 1000) * 100
tb = (b / 1000) * 100
tc = (c / 1000) * 100

print('O percentual de pessoas que recebem mais de 15 salarios minimos e de {} \n o percentual de pessoas que recebem entre 15 a 5 salarios minimos e de {} \n e o percentual de pessoas que recebem menos de 5 salarios minimos e de {}'.format(ta,tb,tc))

In [ ]:
#Escrever um algoritmo que conte e soma todos os números ímpares que são múltiplos de três e NÃO múltiplos de 5 que se encontram no intervalo [9 90]. Exiba a Contagem e a Soma destes números
resultado = 0
for c in range(9,90):
  if c % 3 == 0 and c % 5 != 0:
    resultado = resultado + c
    print(c)
print('~~' * 3)
print(resultado)